<div class="header-wrapper">
  <header class="home-header">
    <div class="header-content">
      <div class="logo">
        <div class="header-left">
          <img src="assets/logo/logo.png"
          routerLink="/home" alt="QuizzyBee Logo" />
          <h1 class="header-QuizzyBee">QuizzyBee</h1>
          <div class="header-advertisement">
            <p>🎉 Explore 500+ quizzes now! 🎉</p>
          </div>
        </div>
      </div>
      <nav class="nav-links">
        <a routerLink="/register" class="btn btn-register">Register</a>
      </nav>
    </div>
  </header>
</div>
<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onLogin()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" name="email" type="email" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        [(ngModel)]="password"
        name="password"
        type="password"
        required
      />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
  <div class="social-login">
    <p>Or login with:</p>
    <button mat-stroked-button color="primary" (click)="loginWithFacebook()">
      <mat-icon>facebook</mat-icon>
      Facebook
    </button>
    <button mat-stroked-button color="accent" (click)="loginWithGoogle()">
      <mat-icon>google</mat-icon>
      Google
    </button>
  </div>
  <p class="signup-link">
    Don't have an account? <a routerLink="/register">Register</a>
  </p>
</div>
<app-footer></app-footer>
