.result-page-container {
  padding: 20px;
}

.overall-summary {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.summary-item h3 {
  margin: 0;
  color: #FF6F61;
}
.summary-item p {

  text-align: center;
}

.category-table {
  margin-top: 20px;
  width: 100%;

}

th, td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: #FF6F61 !important;
  color: white;
}

.graph-section {
  margin-top: 30px;
  text-align: center;
}

.graph-section canvas {
  max-width: 400px;
  margin: 0 auto;
}

.action-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;

}
.buttons-container {
  display: flex;
  justify-content: right;
  margin-top: 20px;
  gap: 10px;
}

button {
  background-color: #FF6F61;
  color: white;
}

button:hover {
  background-color: #e65b55;
}
