<!-- admin-layout.component.html -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true">
    <mat-toolbar color="primary"> Admin Menu </mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/admin/dashboard"
        routerLinkActive="active-link"
      >
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
      <a
        mat-list-item
        routerLink="/admin/categories"
        routerLinkActive="active-link"
      >
        <mat-icon>category</mat-icon> Categories
      </a>
      <a
        mat-list-item
        routerLink="/admin/quizzes"
        routerLinkActive="active-link"
      >
        <mat-icon>quiz</mat-icon> Quizzes
      </a>
      <a
        mat-list-item
        routerLink="/admin/users"
        routerLinkActive="active-link"
      >
        <mat-icon>people</mat-icon> Users
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-admin-header></app-admin-header>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
    <app-admin-footer></app-admin-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
