button {


  background-color: #FF6F61;
  color: white !important;
  transition: background-color 0.3s;
  margin-left: 15px;
}


/* Hover effect for buttons */
button:hover {
  background-color: #FF3D3D;
}

.saveButton {

  background-color:#3F51B5;
  color: white;
}

.saveButton:hover {
  background-color: #7383df;
}
