.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.timer {
  font-weight: bold;
  color: red;
  margin-top: -70px;
}

.question-section {
  margin-bottom: 20px;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.button-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.button-section button {
  margin: 0 10px;
  /* Adds horizontal margin to each button */
}

.previous-button {
  background-color: #F44A3E !important;
  color: white !important;
  border: none;
}

.next-button {
  background-color: #3F51B5 !important;
  color: white !important;
  border: none;
}
