.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #FF6F61;
  font-weight: 700;
}

.timer {
  font-weight: bold;
  color: red;
  margin-top: -70px;
}

.question-section {
  margin-bottom: 20px;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.button-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.button-section button {
  margin: 0 10px;
  /* Adds horizontal margin to each button */
}

.previous-button {
  background-color: #3F51B5  !important;
  color: white !important;
  border: none;
}

.next-button {
  background-color: #FF6F61 !important;
  color: white !important;
  border: none;
}
