<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="side" opened>
    <mat-toolbar>Admin Menu</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/admin-dashboard"
        routerLinkActive="active-link"
      >
        <mat-icon>dashboard</mat-icon><span>Dashboard</span>
      </a>
      <span class="nav-group-title">Categories</span>
      <a
        mat-list-item
        routerLink="/admin/category-list"
        routerLinkActive="active-link"
      >
        <mat-icon>category</mat-icon>
        <span>Category List</span>
      </a>
      <a
        mat-list-item
        routerLink="/admin/category-add"
        routerLinkActive="active-link"
      >
        <mat-icon>add_circle</mat-icon>
        <span>Add Category</span>
      </a>

      <span class="nav-group-title">Quizzes</span>
      <a
        mat-list-item
        routerLink="/admin/quiz-list"
        routerLinkActive="active-link"
      >
        <mat-icon>list_alt</mat-icon>
        <span>Quiz List</span>
      </a>
      <a
        mat-list-item
        routerLink="/admin/quiz-add"
        routerLinkActive="active-link"
      >
        <mat-icon>add_circle_outline</mat-icon>
        <span>Add Quiz</span>
      </a>

      <span class="nav-group-title">Users</span>
      <a mat-list-item routerLink="/admin/users" routerLinkActive="active-link">
        <mat-icon>people</mat-icon>
        <span>User List</span>
      </a>
      <span class="nav-group-title">Results</span>
      <a
        mat-list-item
        routerLink="/admin/result"
        routerLinkActive="active-link"
      >
        <mat-icon>assessment</mat-icon><span>View Results</span>
      </a>

      <a
        mat-list-item
        routerLink="/admin/settings"
        routerLinkActive="active-link"
      >
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </a>
      <a mat-list-item routerLink="/logout"
        ><mat-icon>logout</mat-icon><span>Logout</span></a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <mat-toolbar>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Quiz Admin Dashboard</span>
    </mat-toolbar>

    <div class="container">
      <h2>Quiz List</h2>

      <mat-paginator
        [pageSizeOptions]="[10, 20, 50, 100]"
        showFirstLastButtons
      ></mat-paginator>

      <!-- Quiz Table -->
      <div class="responsive-table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Question No. Column -->
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef>Question No.</th>
            <td mat-cell *matCellDef="let quiz; let i = index">{{ i + 1 }}</td>
          </ng-container>

          <!-- Category Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let quiz">{{ quiz.category }}</td>
          </ng-container>

          <!-- Question Column -->
          <ng-container matColumnDef="question">
            <th mat-header-cell *matHeaderCellDef>Question</th>
            <td mat-cell *matCellDef="let quiz">{{ quiz.question }}</td>
          </ng-container>

          <!-- Options Column -->
          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef>Options</th>
            <td mat-cell *matCellDef="let quiz">
              {{ quiz.options.join(", ") }}
            </td>
          </ng-container>

          <!-- Correct Answer Column -->
          <ng-container matColumnDef="correctAnswer">
            <th mat-header-cell *matHeaderCellDef>Correct Answer</th>
            <td mat-cell *matCellDef="let quiz">{{ quiz.correctAnswer }}</td>
          </ng-container>

          <!-- Set Time Column -->
          <ng-container matColumnDef="setTime">
            <th mat-header-cell *matHeaderCellDef>Set Time</th>
            <td mat-cell *matCellDef="let quiz">{{ quiz.setTime }} mins</td>
          </ng-container>

          <!-- Question Type Column -->
          <ng-container matColumnDef="questionType">
            <th mat-header-cell *matHeaderCellDef>Question Type</th>
            <td mat-cell *matCellDef="let quiz">{{ quiz.questionType }}</td>
          </ng-container>

          <!-- Difficulty Column -->
          <ng-container matColumnDef="difficulty">
            <th mat-header-cell *matHeaderCellDef>Difficulty</th>
            <td mat-cell *matCellDef="let quiz">{{ quiz.difficulty }}</td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let quiz">{{ quiz.status }}</td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let quiz">
              <div class="action-buttons">
                <button
                  mat-icon-button
                  color="primary"
                  (click)="openEditModal(quiz)"
                >
                  <mat-icon>edit</mat-icon>
                </button>

                <button
                  mat-icon-button
                  class="edit-delete"
                  (click)="deleteQuiz(quiz)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <!-- Header and Row Definitions -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <!-- Buttons -->
      <div class="buttons-container btn-all">
        <button
          mat-raised-button
          color="primary"
          style="margin-left: 5px"
          (click)="downloadTable()"
        >
          Download PDF
        </button>
        <button
          mat-raised-button
          color="accent"
          style="margin-left: 5px"
          (click)="printTable()"
        >
          Print
        </button>
        <button
          mat-raised-button
          color="warn"
          style="margin-left: 5px"
          (click)="downloadCSV()"
        >
          Download CSV
        </button>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
