<div class="training-container">
  <mat-card>
    <mat-card-content>
      <!-- Filter Section -->
      <div class="filter-section">
        <div class="filter-row">
          <mat-form-field appearance="outline" class="filter-item">
            <mat-label>Search by Category</mat-label>
            <mat-select [formControl]="selectedCategory">
              <mat-option
                *ngFor="let category of categories"
                [value]="category.category"
              >
                {{ category.category }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="filter-item">
            <mat-label>Select Difficulty</mat-label>
            <mat-select [formControl]="selectedDifficulty">
              <mat-option
                *ngFor="let level of difficultyLevels"
                [value]="level"
              >
                {{ level }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="filter-row">
          <mat-form-field appearance="outline" class="filter-item">
            <mat-label>Question Type</mat-label>
            <mat-select [formControl]="selectedQuestionType">
              <mat-option *ngFor="let type of questionTypes" [value]="type">
                {{ type }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="filter-item">
            <mat-label>Date Range</mat-label>
            <mat-select [formControl]="selectedDateRange">
              <mat-option *ngFor="let range of dateRanges" [value]="range">
                {{ range }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="filter-submit">
          <button mat-raised-button color="primary" (click)="applyFilter()">
            Search
          </button>
        </div>
      </div>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>

      <!-- Display Filtered Quizzes -->
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Questions Column -->
        <ng-container matColumnDef="questions">
          <mat-header-cell *matHeaderCellDef> Questions </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ul>
              <li *ngFor="let question of element.questions">
                {{ question.question }}
              </li>
            </ul>
          </mat-cell>
        </ng-container>

        <!-- Answer Column -->
        <ng-container matColumnDef="Answer">
          <mat-header-cell *matHeaderCellDef> Answer </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ul>
              <li *ngFor="let question of element.questions">
                {{ question.correctAnswer }}
              </li>
            </ul>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
