.training-container {
  padding: 20px;
}

.filter-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.filter-item {
  flex: 1 1 calc(33.33% - 16px);
}

.filter-submit {
  display: flex;
  justify-content: flex-end;
  margin-top: -20px;
  margin-bottom: 20px;
}

.btn-search {
  width: 200px; /* Increased width */
  height: 60px; /* Increased height */
  background-color: #FF4D4D !important;
  color: white;
  border: none;
  border-radius: 24px;
  font-size: 22px; /* Increased font size */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.btn-search:hover {
  background-color: #1565c0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.table-container {
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: #FF6F61 !important;
  color: white;
}
.sample-questions-card {
  margin-top: 20px;
}

.sample-questions {
  margin-top: 10px;
}

.sample-question-item {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sample-question-item h3 {
  margin: 0;
  font-size: 18px;
}

.sample-question-item p {
  margin: 5px 0;
  font-size: 16px;
}
